<header id="banner">
  <div class="overlay-main site-bg-primary opacity-06"></div>
  <div class="inner">
    <h2 id="banner-title">{{ page.subtitle }}</h2>
    <h4 id="banner-subtitle">{{ page.intro }}</h4>
  </div>
</header>

<div id="content-wrap">
  <div class="wrapper">
    <div class="inner">
      {{ page.content }}
    </div>
  </div>
</div>