<div id="content-wrap">
  <div id="content" class="wrapper">
    <div id="content-inner">
      <article class="article-container" itemscope itemtype="http://schema.org/Article">
        <div class="article-inner">
          <div class="article">
            <div class="inner">
              <header class="article-header">
                <h1 class="article-title" itemprop="name">{{ page.title }}</h1>
                {# <a href="{{ raw_link(page.source) }}" class="article-edit-link" title="{{ __('page.improve') }}"><i class="fa fa-pencil"></i></a> #}
              
                <a id="feedback-link" class="article-edit-link" target="_blank" href="" title="{{ __('page.improve') }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
                    <path d="M12.698 4.9349C12.95 4.6829 13.0886 4.34823 13.0886 3.99223C13.0886 3.63623 12.95 3.30156 12.698 3.04956L11.6406 1.99223C11.3886 1.74023 11.054 1.60156 10.698 1.60156C10.342 1.60156 10.0073 1.74023 9.75597 1.99156L2.66797 9.05756V12.0009H5.60997L12.698 4.9349ZM10.698 2.9349L11.756 3.99156L10.696 5.04756L9.63864 3.9909L10.698 2.9349ZM4.0013 10.6676V9.6109L8.69464 4.93223L9.75197 5.98956L5.0593 10.6676H4.0013ZM2.66797 13.3342H13.3346V14.6676H2.66797V13.3342Z"/>
                  </svg>
                </a>
              
              </header>
              <div class="article-content" itemprop="articleBody">
                {{ page_anchor(page.content) }}
              </div>
              <footer class="article-footer">
                <time class="article-footer-updated" datetime="{{ date_xml(page.updated) }}" itemprop="dateModified">{{ __('page.last_updated', date(page.updated)) }}</time>
                {{ page_nav() }}
              </footer>

            </div>
          </div>
          <aside id="article-toc" role="navigation">
            <div id="article-toc-inner">
              <strong class="sidebar-title">{{ __('page.contents') }}</strong>
              {{ toc(page.content, {list_number: false}) }}
              <a href="#" id="article-toc-top">{{ __('page.back_to_top') }}</a>
            </div>
          </aside>
        </div>
      </article>
      {{ partial('partial/sidebar') }}
    </div>
  </div>
</div>
