<!-- FOOTER START -->
<footer class="site-footer footer-large footer-dark text-white footer-style1">

  <!-- FOOTER BLOCKES START -->
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6">

          <div class="widget recent-posts-entry">
            <h3 class="widget-title">Get in Touch</h3>
            <ul class="widget_address">
              <li>
                <i class="fa fa-map-marker"></i>X-NODE Space, 4F, 800 NaXian Road, Shanghai, P.R.C</li>
              <li>
                <i class="fa fa-envelope"></i>info@icewhale.org</li>
              <li>
                <i class="fa fa-phone"></i>+86 137 7423 1816</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="widget widget_services">
            <h3 class="widget-title">Useful links</h3>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul>
                  <li>
                    <a href="https://www.zimaboard.com/">Home</a>
                  </li>
                  <li>
                    <a href="https://www.zimaboard.com/about/product">ZimaBoard </a>
                  </li>
                  <li>
                    <a href="https://www.casaos.io" target="_blank">CasaOS</a>
                  </li>
                  <li>
                    <a href="https://discord.gg/Gx4BCEtHjx" target="_blank">Community</a>
                  </li>
                  <li>
                    <a href="https://www.zimaboard.com/gallery">Gallery</a>
                  </li>
                  
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul>
                  <li>
                    <a href="https://www.zimaboard.com/about/team" target="_blank">Team </a>
                  </li>
                  <li>
                    <a href="https://blog.zimaboard.com" target="_blank">Blog</a>
                  </li>
                  <li>
                    <a href="https://shop.zimaboard.com" target="_blank">Shop</a>
                  </li>
                  <li>
                    <a href="https://www.zimaboard.com/distributors" target="_blank">Distributors</a>
                  </li>
                  <li>
                    <a href="https://docs.zimaboard.com" target="_blank">Docs</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- FOOTER COPYRIGHT -->

  <div class="footer-middle">

    <div class="container">
      <div class="footer-middle-content1">
        <ul class="social-icons  wt-social-links footer-social-icon">
          <li>
            <a href="https://discord.gg/Gx4BCEtHjx" target="_blank"><img src="{{ url_for('icon/discord.png') }}" alt=""></a>
          </li>
          <li>
            <a href="https://www.facebook.com/zimaboard/" target="_blank"><img src="{{ url_for('icon/facebook.png') }}" alt=""></a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/zimaboardofficialchannel/featured" target="_blank"><img src="{{ url_for('icon/youtube.png') }}" alt=""></a>
          </li>
          <li>
            <a href="https://twitter.com/zimaboard" target="_blank"><img src="{{ url_for('icon/twitter.png') }}" alt=""></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="footer-bottom">
    <div class="container">
      <ul class="copyrights-nav">
        <li>
          <a href="https://blog.zimaboard.com/privacy-policy/">Privacy Policy</a>
        </li>
      </ul>
      <div class="wt-footer-bot-left d-flex justify-content-center">
        <span class="copyrights-text">© 2022 Shanghai Icewhale Technology Co.,Ltd. </span>
      </div>
    </div>
  </div>

</footer>
<!-- FOOTER END -->