<!-- FOOTER START -->
<footer class="site-footer footer-large footer-dark text-white footer-style1">

  <!-- FOOTER BLOCKES START -->
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6">

          <div class="widget recent-posts-entry">
            <h3 class="widget-title">
              <a href="https://www.zimaboard.com/contact" target="_blank">Contact Us</a>
            </h3>
            <ul class="widget_address">
              <li>
                <i class="fa fa-map-marker"></i>
                <a href="https://www.zimaboard.com/contact" target="_blank">X-NODE Space, 4F, 800 NaXian Road, Shanghai, P.R.C</a>
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:info@icewhale.org" target="_blank">info@icewhale.org</a>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <a href="tel:+86-13774231816" target="_blank">+86 137 7423 1816</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="widget widget_services">
            <h3 class="widget-title">Useful links</h3>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul>
                  <li>
                    <a href="https://www.zimaboard.com/about/product">ZimaBoard</a>
                  </li>
                  <li>
                    <a href="https://www.casaos.io" target="_blank">CasaOS</a>
                  </li>
                  <li>
                    <a href="https://discord.gg/Gx4BCEtHjx" target="_blank">Community</a>
                  </li>
                  <li>
                    <a href="https://www.zimaboard.com/distributors" target="_blank">Distributors</a>
                  </li>
                  <li>
                    <a href="https://www.zimaboard.com/contact" target="_blank">Contact Us</a>
                  </li>

                </ul>
              </div>

            </div>

          </div>
        </div>

        <div class="col-lg-3 col-md-3">

          <div class="widget widget_newsletter">
            <h3 class="widget-title">Keep In Touch</h3>
            <p>Join our subscribers list to get the latest news, updates and special offers.</p>
            <div class="newsletter-input">
              <form class=" validate" action="https://gmail.us2.list-manage.com/subscribe/post?u=f78b71ceb3f6e97b84a70d168&id=acfeda8784" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="input-group">
                  <input id="mce-EMAIL" type="email" class="form-control" name="EMAIL" placeholder="Enter your email">
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_f78b71ceb3f6e97b84a70d168" tabindex="-1" value="">
                  </div>
                  <div class="input-group-append">
                    <button type="submit" class="mc-button input-group-text nl-search-btn text-black mc-button site-bg-primary title-style-2">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- FOOTER COPYRIGHT -->

  <div class="footer-middle">

    <div class="container">
      <div class="footer-middle-content1">
        <ul class="social-icons  wt-social-links footer-social-icon">
          <li>
            <a href="https://discord.gg/Gx4BCEtHjx" target="_blank"><img src="{{ url_for('icon/discord.png') }}" alt=""></a>
          </li>
          <li>
            <a href="https://www.facebook.com/zimaboard/" target="_blank"><img src="{{ url_for('icon/facebook.png') }}" alt=""></a>
          </li>
          <li>
            <a href="https://www.youtube.com/c/zimaboardofficialchannel/featured" target="_blank"><img src="{{ url_for('icon/youtube.png') }}" alt=""></a>
          </li>
          <li>
            <a href="https://twitter.com/zimaboard" target="_blank"><img src="{{ url_for('icon/twitter.png') }}" alt=""></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="footer-bottom">
    <div class="container">
      <ul class="copyrights-nav">
        <li>
          <a href="https://blog.zimaboard.com/privacy-policy/">Privacy Policy</a>
        </li>
      </ul>
      <div class="wt-footer-bot-left d-flex justify-content-center">
        <span class="copyrights-text">© 2022 Shanghai Icewhale Technology Co.,Ltd. </span>
      </div>
    </div>
  </div>

</footer>
<!-- FOOTER END -->