<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ config.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Canonical links -->
  <link rel="canonical" href="{{ url }}">
  <!-- Alternative links -->
  {% if page.layout == 'page' or page.layout == 'index' %}
    {% for lang, value in site.data.languages %}
  <link rel="alternative" hreflang="{{ lang }}" href="{{ canonical_url(lang) }}">
    {% endfor %}
  {% endif %}
  <!-- FAVICONS ICON -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon-32x32.png" />

  <!-- Icon -->
  {# <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('icon/apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('icon/apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('icon/apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('icon/apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('icon/apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('icon/apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('icon/apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('icon/apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('icon/apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('icon/android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('icon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('icon/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('icon/favicon-16x16.png') }}"> #}
  <link rel="manifest" href="{{ url_for('icon//manifest.json') }}">
  <meta name="msapplication-TileColor" content="#f1b335">
  <meta name="msapplication-TileImage" content="{{ url_for('icon/ms-icon-144x144.png') }}">
  <meta name="theme-color" content="#f1b335">

  <!-- build:css build/css/zima.css -->
  {{ css('css/zima') }}
  <!-- endbuild -->
  {# <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rajdhani%3A300%2C400%2C500%2C600%2C700%7CMuli%3A200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;subset'/> #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typeface-lato@0.0.75/index.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css">
  
  <!-- Open Graph -->
  {% set description %}
    {% if page.description %}
      {{ page.description }}
    {% else %}
      {{ page.content }}
    {% endif %}
  {% endset %}
  {{ open_graph({
    fb_admins: config.fb_admins,
    twitter_site: config.twitter,
    description: description
  }) }}
  {{ partial('google_analytics') }}

</head>
