<nav id="mobile-nav">
  <div id="mobile-nav-inner">
    <ul id="mobile-nav-list">
      
      {{ header_menu('mobile-nav') }}
    </ul>
    {% if page.layout == 'page' %}
      {{ doc_sidebar('mobile-nav') }}
    {% endif %}
  </div>
  <div id="mobile-lang-select-wrap">
    <span id="mobile-lang-select-label" style="display:none">
      <i class="fa fa-globe"></i>
      <span>{{ lang_name(page.lang) }}</span></span>
    <select id="mobile-lang-select" data-canonical="{{ canonical_path_for_nav() }}">
      {% for lang, value in site.data.languages %}
        <option value="{{ lang }}"{% if page.lang === lang %} selected{% endif %}>{{ lang_name(lang) }}</option>
      {% endfor %}
    </select>
  </div>
</nav>