

.footer-dark 
  .footer-middle 
    .footer-middle-content1
      display: flex;
      padding: 20px;
      justify-content: center
      align-items: center;
  .widget_address 
    li 
      i
       color: #f1b335

.widget-title
  font-size: 24px
  font-family: font-menu

.widget .widget-title a:link,

.widget .widget-title a:visited,
.widget .widget-title a:active{
    color: #ffffff;
}
.widget .widget-title a:hover{
    color: #f1b335;
}

.widget .widget_address a:link,
.widget .widget_address a:visited,
.widget .widget_address a:active{
    color: #999;
}
.widget .widget_address a:hover{
    color: #f1b335;
}
.newsletter-input .input-group-append button{
  display: flex;
  height: 40px;
  align-items: center;  
}
.newsletter-input .input-group-append button:hover{
  background-color: #f1b335;
  color: #111;
}
.widget_social
  display: flex
  justify-content: start
  width: 100%
  @media mq-normal
    justify-content: end

.wt-social-links{
  display: flex;
  width: 100%;
  max-width: 360px;
  justify-content: space-between;
  li{
    margin-left: 20px;
  }
}

.menu-wrapper
  font-size: 16px
  margin-bottom: 80px
  .menu-title
    margin-top: 40px
  ul
    margin-top: 32px
  li 
    margin: 12px 0
    a
      color: #ffffff
      opacity: 0.5
      cursor: pointer
      &:hover
        opacity 1