

.footer-dark 
  .footer-middle 
    .footer-middle-content1
      display: flex;
      padding: 20px;
      justify-content: center
      align-items: center;
  .widget_address 
    li 
      i
       color: #f1b335

.widget-title
  font-size: 24px
  font-family: font-menu
  font-weight: 700