

.footer-dark 
  .footer-middle 
    .footer-middle-content1
      display: flex;
      padding: 20px;
      justify-content: center
      align-items: center;
  .widget_address 
    li 
      i
       color: #f1b335

.widget-title
  font-size: 24px
  font-family: font-menu
  font-weight: 700

.widget .widget-title a:link,

.widget .widget-title a:visited,
.widget .widget-title a:active{
    color: #ffffff;
}
.widget .widget-title a:hover{
    color: #f1b335;
}

.widget .widget_address a:link,
.widget .widget_address a:visited,
.widget .widget_address a:active{
    color: #999;
}
.widget .widget_address a:hover{
    color: #f1b335;
}