header-padding-normal = 10px
header-padding-max = 30px
logo-size = 60px

#header_outer
  height: 97px
  width 100%
  @media mq-mobile
    height: 60px
#header
  position: fixed
  z-index 10
  width 100%
  height: 97px
  padding:  0
  background-color: color-navy
  @media print
    display: none
  @media mq-mobile
    height: 60px

#header-inner
  display: flex
  flex-flow: row nowrap
  align-items: center
  @media mq-mobile
    justify-content: center

.logo-container
  flex-shrink: 0
  flex: 0 logo-size
  @media mq-mobile
    display: flex
    flex-grow: 1
    justify-content: center
    margin-left: 60px
  

.nav-container
  display: none
  flex-grow: 1
  @media mq-normal
    display: flex
    


.search-icon-container
  flex-shrink: 0
  width: 60px
  display: flex
  justify-content: center
  @media mq-mobile
    justify-content: flex-end

#logo-wrap
  flex: 0 logo-size

#logo
  hide-text()
  background: url("/logo.svg")
  width: logo-size
  height: logo-size
  background-size: @width @height
  display: block

#main-nav
  display: none
  flex: 1 auto
  text-align: center
  @media mq-normal
    display: flex

.main-nav-link
  position relative
  color: #fff
  text-decoration: none
  transition: 0.2s
  font-family: font-menu
  font-size: 18px
  text-transform: uppercase
  font-weight: 600
  display: inline-block
  padding: 35px 14px
  line-height: 1.5em
  &::before
    content: ''
    position: absolute
    width: 10px
    height: 30px
    transition: all 0.5s ease-out
    opacity: 0
    top: 34px
    border: 1px solid #fff
    border-right: 0px
    left: 5%
  &::after
    content: ''
    position: absolute
    width: 10px
    height: 30px
    transition: all 0.5s ease-out
    opacity: 0
    top: 34px
    border: 1px solid #fff
    border-left: 0px
    right: 5%
  &:hover , &.current
    opacity: 1
    color: #fff
    &::before
      left: 0
      opacity: 1
    &::after
      right: 0
      opacity: 1
  
  
.maxmenu {
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0;
    display: block;
}

#search-container
  position: fixed
  width 100%
  height: 100%
  left: 0
  top: 0
  z-index 100
  opacity 0
  visibility hidden
  transition: all 0.2s ease-out
  &.show
    opacity: 1
    visibility: visible

.search-bg
  position: absolute
  width 100%
  height: 100%
  left: 0
  top: 0
  background-color: white
  opacity: 1
  
  
  
.search-content-container
  position: absolute
  width 100%
  height: 100%
  left: 0
  top: 0
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  

#search-container-close
  position: absolute
  right: 2.8rem
  top: 2.3rem
  z-index 10
  font-size: 24px
  .fa-close
    cursor: pointer
  @media mq-mobile
    right: 1.8rem
    top: 1.1rem

#search-input-wrap
  position: relative
  padding-left: 6px
  padding-bottom: 8px
  border-bottom: 1px solid color-gray
  width: 80%
  &.on
    display: flex

#search-container-icon
  color: white
  padding-right: 0.5em
  display: inline-block
  opacity: 0.7
  flex-shrink: 0
  font-size: 18px
  .fa-search
    cursor: pointer

#search-input-icon
  color: color-navy
  padding-right: 0.5em
  display: inline-block
  opacity: 0.7
  flex-shrink: 0
  font-size: 18px
  .fa-search
    cursor: pointer

.algolia-autocomplete
  flex-grow: 1 !important

#search-input
  width 100%
  background: none
  font-size: 18px
  font-family: font-title
  color: color-navy
  outline: none
  -webkit-appearance: none
  flex-grow: 1

#lang-select-wrap
  display: none
  position: relative
  @media mq-normal
    display: block

#lang-select-label
  color: #fff
  opacity: 0.7
  font-family: font-title
  line-height: logo-size
  span
    padding-left: 8px
  i
    opacity: 0.7

#lang-select
  opacity: 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  -webkit-appearance: menulist-button
  font-size: inherit

.search-active
  overflow hidden