header-padding-normal = 10px
header-padding-max = 30px
logo-size = 60px

#header_outer
  height: 64px
  width 100%
  @media mq-mobile
    height: 60px
#header
  position: fixed
  z-index 10
  width 100%
  height: 64px
  padding:  0
  background-color: rgba(17, 17, 17, 0.75)
  backdrop-filter: blur(8px)
  @media print
    display: none
  @media mq-mobile
    height: 60px

#header-inner
  max-width: 1200px
  margin: 0 auto
  display: flex
  flex-flow: row nowrap
  align-items: center
  height: 100%
  @media mq-mobile
    justify-content: center

.logo-container
  flex-shrink: 0
  flex: 0 logo-size
  @media mq-mobile
    display: flex
    flex-grow: 1
    justify-content: center
    margin-left: 60px
  

.nav-container
  display: none
  flex-grow: 1
  @media mq-normal
    display: flex
    
.search-icon-container
  flex-shrink: 0
  display: flex
  justify-content: center
  align-items: center
  a.shop
    white-space: nowrap
    display: inline-block
    background: color-link
    padding: 10px 20px
    // margin-right: 20px
    font-weight: 500
    margin-left: 10px
    &:hover
      opacity: 0.9
  @media mq-mobile
    justify-content: flex-end
    a.shop
      margin-right: -10px

#logo-wrap
  flex: 0 logo-size

#logo
  hide-text()
  background: url("/logo.svg")
  width: logo-size
  height: logo-size
  background-size: @width @height
  display: block

#main-nav
  display: none
  flex: 1 auto
  text-align: center
  @media mq-normal
    display: flex

.main-nav-link
  position relative
  color: #fff
  text-decoration: none
  transition: 0.2s
  font-family: font-menu
  font-size: 16px
  // text-transform: uppercase
  // font-weight: 600
  display: inline-block
  padding: 0px 14px
  line-height: 1.5em
  opacity: 0.5
  &:hover , &.current
    opacity: 1
    color: #fff
  
  
.maxmenu {
    font-family: 'BrittiSans', sans-serif;
    color: #fff;
    // text-transform: uppercase;
    font-size: 18px;
    padding: 0;
    display: block;
}

#search-container
  position: fixed
  width 100%
  height: 100%
  left: 0
  top: 0
  z-index 100
  opacity 0
  visibility hidden
  transition: all 0.2s ease-out
  &.show
    opacity: 1
    visibility: visible

.search-bg
  position: absolute
  width 100%
  height: 100%
  left: 0
  top: 0
  background-color: white
  opacity: 1
  
  
  
.search-content-container
  position: absolute
  width 100%
  height: 100%
  left: 0
  top: 10vh
  display: flex
  flex-flow: column nowrap
  align-items: center
  

#search-container-close
  position: absolute
  right: 2.8rem
  top: 2.3rem
  z-index 10
  font-size: 24px
  .fa-close
    cursor: pointer
  @media mq-mobile
    right: 1.8rem
    top: 1.1rem

#search-input-wrap
  position: relative
  padding-bottom: 8px
  border-bottom: 1px solid color-gray
  width: 60%
  min-width: 380px
  max-width: 800px
  &.on
    display: flex

#search-container-icon
  color: white
  padding-right: 0.5em
  display: inline-block
  opacity: 0.7
  flex-shrink: 0
  font-size: 18px
  .fa-search
    cursor: pointer

#search-input-icon
  color: color-navy
  padding-right: 0.5em
  display: inline-block
  opacity: 0.7
  flex-shrink: 0
  font-size: 18px
  .fa-search
    cursor: pointer

.algolia-autocomplete
  flex-grow: 1 !important

#search-input
  width 100%
  text-indent: 18px
  background: none
  font-size: 18px
  font-family: font-title
  color: color-navy
  outline: none
  -webkit-appearance: none
  flex-grow: 1
#resultContent
  width: 60%
  min-width: 380px
  max-width: 800px
  max-height: 70vh
  overflow-y: auto
  ul.search-result-list
    padding: 20px 
    li
      padding: 4px 0
      &:hover
        color: color-link

#lang-select-wrap
  display: none
  position: relative
  @media mq-normal
    display: block

#lang-select-label
  color: #fff
  opacity: 0.7
  font-family: font-title
  line-height: logo-size
  span
    padding-left: 8px
  i
    opacity: 0.7

#lang-select
  opacity: 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  -webkit-appearance: menulist-button
  font-size: inherit

.search-active
  overflow hidden