

.header-style-4 .logo-header{
  padding-top: 0px;
}

.header-style-4 .extra-nav.header-4-nav{
  z-index: inherit;
}

/*maxmenu fade down animation==================================================================================================================*/

.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li  > ul.sub-menu > li > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu {
  opacity: 0;
  visibility: hidden;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;

  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: -webkit-transform 0.3s, opacity 0.3s;

  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-75deg);
  -o-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  -webkit-transform: rotateX(-75deg);
}

.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li:hover > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li:hover > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li:hover > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li:hover > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li:hover > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li:hover > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li:hover > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li:hover > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li > ul.sub-menu > li:hover > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li > ul.sub-menu > li:hover > ul.sub-menu,
.fade-down-animation > .maxmenu-list > li:hover > ul.sub-menu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}


/* ================== Desktop Main Menu CSS ================== */
.maxmenu {
  font-family: 'BrittiSans', sans-serif;
  color: #fff;
  // text-transform: uppercase;
  font-size: 18px;
  padding: 0;
  display: block;
}

.maxmenu>.maxmenu-list {
  text-align: left;
  margin: 0 auto 0 auto;
  display: block;
  padding: 0;
}

.maxmenu>.maxmenu-list>li {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
  float: left;
}

.maxmenu>.maxmenu-list>li>a {
  display: block;
  padding: 0px 14px;
  text-decoration: none;
  position: relative;
  // font-weight: 600;
  line-height: 1.5em;
}
.maxmenu.white-style>.maxmenu-list>li>a {
  color: #fff;
}

.maxmenu>.maxmenu-list>li:last-child>a {
  border-right: 0px;
}


.maxmenu>.maxmenu-list>li>a i {
  display: inline-block;
  font-size: 14px;
  line-height: inherit;
  margin-right: 12px;
  vertical-align: top;
}




/* ================== Desktop nav hover brackets CSS ================== */
.maxmenu>.maxmenu-list>li.current_page_item>a{
  opacity : 1;
}

@media only screen and (max-width:991px){
  
.brackets-style>.maxmenu-list>li>a:after,
.brackets-style>.maxmenu-list>li>a:before{display:none;}
}


@media only screen and (max-width:991px){
.brackets-style>.maxmenu-list>li>a:after,
.brackets-style>.maxmenu-list>li>a:before{display:none;}
}


/*light brackets*/

.brackets-style.dark-brackets>.maxmenu-list>li>a:hover{color: #000;}
.brackets-style.dark-brackets>.maxmenu-list>li>a:before{border:1px solid #000;border-right:0px}
.brackets-style.dark-brackets>.maxmenu-list>li>a:after{border:1px solid #000; border-left:0px;}



/* ================== Long arrow show on nav hover CSS ================== */

.nav-animation .maxmenu-list>li>a {
  position: relative;
}

.nav-animation .maxmenu-list>li>ul.sub-menu li>a {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: relative;
  z-index: 1;
}

.nav-animation .maxmenu-list li>ul.sub-menu li>a:before{
  position:absolute;
  content: "\f178";
  font-family:'FontAwesome';
  font-size:14px;
  color:#b72323;
  left:5px;
  opacity:0;
  
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

}


.nav-animation .maxmenu-list li>ul.sub-menu li>a:hover:before{opacity:1; left:20px}
.nav-animation .maxmenu-list li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>a,
.nav-animation .maxmenu-list li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>a,
.nav-animation .maxmenu-list li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>a,
.nav-animation .maxmenu-list li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>a,
.nav-animation .maxmenu-list li:hover>ul.sub-menu li:hover>ul.sub-menu li:hover>a,
.nav-animation .maxmenu-list li:hover>ul.sub-menu li:hover>a {
  padding-left: 40px;
}




/* ================== Desktop Drop Down Menu CSS ================== */
.maxmenu>.maxmenu-list>li>ul.sub-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  min-width: 220px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0 , 18%);
}


.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu {
  min-width: 220px;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0 , 18%);
}

.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: block;
}

.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>a {
  background-image: none;
  border-right: 0 none;
  text-align: left;
  display: block;
  text-transform: none;
  letter-spacing: normal;
  border-right: 0px solid;
  color: #1d1d1d;
  font-size: 15px;
  padding: 10px 20px;
  // font-weight: 600; 
  line-height: 1.5em;
  text-decoration: none;
}

.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a:hover,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>a:hover {
  text-decoration: none;
}

.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li>a>i,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a>i,
.maxmenu>.maxmenu-list>li>ul.sub-menu>li>a>i {
  margin-right: 9px;
}


/* ================== Desktop Extra CSS ================== */
.maxmobileheader {
  display: none;
}

.overlapblackbg {
  opacity: 0;
  visibility: hidden;
}

.maxmenu .maxmenu-click {
  display: none;
}

.maxmenu .maxmenu-click02 {
  display: none;
}

.maxmenu>.maxmenu-list li ul.sub-menu>li {
    border-bottom: 1px solid #f4f4f4;
}




/*max-ulextend*/


.max-ulexpend .maxmenu-list > li  > ul.sub-menu > li{
  height: 0px;
  overflow: hidden;
}

.max-ulexpend .maxmenu-list > li:hover > ul.sub-menu > li {
  height: auto;
  overflow: visible;
}