---
layout: index
subtitle: <b>ZimaBoard</b> Documentation
intro: The official documentation for<br>ZimaBoard Single Board Server
comments: false
---
.section-head.center.wt-small-separator-outer.m-t50
  
.section-content
  .row.justify-content-center.d-flex
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/docs/")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-TinkerFriendly")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Getting Started
          .d-icon-box-content
            p Everything you need to know about how to get started with ZimaBoard.
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/docs/Small-body-Big-applications-OMV-install")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-operating-system")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Operating Systems
          .d-icon-box-content
            p Introduction and installation of common OS setup and system functions.
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/docs/Basic-functions-of-dedicated-systems")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-Multimedia")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Entertainment Hub
          .d-icon-box-content
            p Setup your completely automated media center and get the proper configuration.
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/docs/Unraid-First-Experience-At-$129-Five-drive-Disks-Nas")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-Morethan")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Hardware Expansion
          .d-icon-box-content
            p Take your project to the next level with expansion boards and accessories.
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/docs/MineCraft-Friendship-Service")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-One_Solution_for_Two_Scenarios")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Server Playground
          .d-icon-box-content
            p Use Docker containers to build your own Git server, Minecraft server, etc.
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/faq/")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-Centralize_Your_Personal_Content")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Troubleshooting
          .d-icon-box-content
            p Learn how to deal with ZimaBoard problems with connection, power, boot-up, and more.